<%- include("../partials/head") %>

<body>
    <h1>Edit Data Product</h1>
    <form action="/products/edit/<%= productDetail.id %>" method="POST">
        <label for="">name</label>
        <input type="text" name="name" placeholder="buku gambar" value="<%= productDetail.name %>"><br>
        <label for="">price</label>
        <input type="text" name="price" placeholder="10000" value="<%= productDetail.price %>"><br>
        <label for="">stock</label>
        <input type="text" name="stock" placeholder="10" value="<%= productDetail.stock %>"><br>
        <label for="">size</label>
        <select name="size" id="">
            <% sizeOptions.map((size) => { %>
                <option value="<%= size %>" <%  if(size == productDetail.size){ %> selected <% } %> ><%= size %></option> 
            <% }) %>
        </select><br>
        <button type="submit">Edit</button>
    </form>
</body>
</html>